/* Body Style */
.aaupBody {
    display: grid;
    grid-template-areas:
        "nv nv nv nv nv nv nv nv"
        "hd hd hd hd hd hd hd hd"
        "sd main main main main main main main"
        "sec sec sec sec sec sec sec sec"
        "ft ft ft ft ft ft ft ft";
}

figure {
    margin: 0;
}

/* Nav Style */
nav {
    grid-area: nv;
}


/* Header Style */
header {
    grid-area: hd;
    display: flex;
    margin: 2rem 0;
    gap: 2rem;
}

header img {
    width: 900px;
    height: 340px;
}

header .title h1 {
    font-size: 50px;
    margin: 4rem 0 2rem;
}

header .title small {
    font-size: 20px;
}

/* Aside Style */
aside {
    grid-area: sd;
    margin: 0 0 0 2rem;
}

aside p:first-child {
    margin: 11rem 0 0.6rem;
    font-size: 20px;
    font-weight: 600;
    text-wrap: balance;
}

aside button {
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
}

aside p:last-child {
    margin: 2rem 0;
    font-size: 18px;
}

/* Main Style */
main {
    grid-area: main;
    margin: 0 2rem;
}

main p:first-child {
    font-size: 25px;
}

main p {
    font-size: 22px;
    line-height: 30px;
}

main img {
    width: 730px;
}

main figcaption {
    color: #958c8c;
}

main blockquote {
    margin: 2rem 0;
    font-size: 22px;
    line-height: 30px;
    font-weight: 600;
}

/* Projects Style */
.projects {
    grid-area: sec;
    padding: 0 2rem;
}

.projects h1 {
    font-size: 30px;
}

.projects .card-container {
    display: flex;
    justify-content: space-between;
}

.projects img {
    border-radius: 10px;
}

.projects .card,
.projects img {
    width: 300px;
}

.projects .card a:hover {
    text-decoration: none;
}

.projects figcaption {
    background-color: #fff;
    width: fit-content;
    padding: 10px;
    font-size: 12px;
}

/* Footer Style */
footer {
    grid-area: ft;
}
