/* General Style */
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Article Style */
.aboutArticle {
    margin: 2rem 4rem;
}

.aboutArticle h1 {
    text-align: center;
}

.aboutArticle p {
    font-size: 20px;
}

/* Experience Article Style */
.Experience li strong {
    font-size: 20px;
}

.Experience li {
    width: 500px;
}

/* Skills Article Style */
.Skills ul {
    justify-content: center;
}

.Skills li {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 0 2.2em 2.2rem 0;
    width: 100px;
}
