/* Media Query For Small Screens */
@media screen and (max-width:768px) {

    /* General Style */
    /* Nav Style */
    nav {
        padding: 1rem 0 0;
    }

    /* Footer Style */
    footer {
        padding: 5px;
    }

    /* Index Page Style */
    /* Index Cards Style */
    .indexCards {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 1rem;
    }

    .indexCards .indexCard {
        width: 300px;
    }

    .indexCards img {
        width: 332px;
    }

    /* About Page Style */
    /* Article Style */
    .aboutArticle {
        margin: 2rem 1rem;
    }

    /* Skills Article Style */
    .Skills ul {
        justify-content: space-between;
    }

    /* AAUP Page Style */
    /* General Style */
    .aaupBody {
        grid-template-areas:
            "nv nv nv nv nv nv nv nv"
            "hd hd hd hd hd hd hd hd"
            "sd sd sd sd sd sd sd sd"
            "main main main main main main main main"
            "sec sec sec sec sec sec sec sec"
            "ft ft ft ft ft ft ft ft";
    }

    /* Header Style */
    header {
        margin: 2rem;
    }

    header img {
        display: none;
    }

    header .title h1 {
        font-size: 30px;
        margin: 0 0 2rem;
    }

    header .title small {
        font-size: 15px;
    }

    /* Aside Style */
    aside {
        margin: 2rem;
    }

    aside p:first-child {
        margin: 0 0 0.6rem;
        font-size: 23px;
    }

    aside button {
        font-size: 15px;
    }

    aside p:last-child {
        font-size: 20px;
        line-height: 25px;
        margin: 2rem 0 0;
    }

    /* Main Style */
    main p {
        font-size: 19px;
    }

    main img {
        width: 280px;
    }

    /* Projects Style */
    .projects {
        padding: 0;
        margin: auto;
    }

    .projects h1 {
        text-align: center;
    }

    .projects .card-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 4rem;
    }

    .projects figcaption {
        font-size: 16px;
    }
}

/* Media Query For Medium Screens */
@media only screen and (min-width: 601px) and (max-width: 1024px) {

    /* Index Page Style */
    /* Index Cards Style */
    .indexCards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 2rem 0;
    }

    .indexCards .indexCard {
        width: 300px;
    }

    /* About Page Style */    
    /* Experience Article Style */
    .Experience ul {
        flex-direction: column;
        gap: 3rem;
        align-items: center;
    }

    /* AAUP Page Style */
    
    /* Header Style */
    header img {
        width: 500px;
        height: 380px;
    }

    header .title h1 {
        font-size: 45px;
    }

    /* Aside Style */
    aside p:first-child {
        font-size: 17px;
    }

    aside button {
        font-size: 12px;
    }

    aside p:last-child {
        font-size: 16px;
    }

    /* Main Style */
    main p,
    main blockquote {
        font-size: 20px;
    }

    main img {
        width: 612px;
    }

    /* Projects Style */
    .projects h1 {
        text-align: center;
    }

    .projects .card-container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}