/* Import style files */
@import url('index-style.css');
@import url('AAUP-style.css');
@import url('about-style.css');


/* Define  variables */
:root {
  --primary-texts-color: #1f1f1f;
  --primary-nav-footer-background-color: #f0efeb;
  --primary-website-background-color: #f9ecda61;
}

/* General Style */
body {
  margin: 0;
  background-color: var(--primary-website-background-color);
  color: var(--primary-texts-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav,
footer {
  background-color: var(--primary-nav-footer-background-color);
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}

nav u {
  font-size: 30px;
}

nav .lefttSideLinkes,
nav .rightSideLinkes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: end;
}

footer {
  padding: 20px;
  text-align: center;
}
